*{
    padding-left: 10px;
    margin: 0;
    box-sizing: border-box;

}

html, body{
    height : 100%;
    width : 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8e8787;
}